body {
font-family: 'Roboto', sans-serif;
font-style: normal;
background-color: var(--white);
color: var(--Black21);
font-size: 14px;
}

.container{
width: 1200px;
margin: 0 auto;
}

:root {--white: #ffffff;}
:root{--Black21: #212121;}
:root{--blue: #2196F3;}
:root{--grey75: #757575;}

ul { list-style: none; }


.page-header {
display: flex;
align-items: center;
justify-content: space-between;
width: 1600px;
height: 80px;
}

.company-name{
height: 31px;
width: 145px;
left: 215px;
top: 24px;
border-radius: nullpx;
}

.nav-list{
display: flex;
height: 16px;
width: 281px;
left: 453px;
top: 32px;
border-radius: nullpx;
}

.nav-list .nav-link {
display: block;
height: 16px;
width: 281px;
left: 453px;
top: 32px;
}

.contact-list{
display: flex;
height: 16px;
width: 135px;
left: 1078px;
top: 32px;
}

.web-colour-blue {
    color: var(--blue);
}

.color-studio-head { 
color: #000000
}

.company-name {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
 }


.nav-link{
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: var(--Black21);
}
    
.nav-list .nav-link:focus { 
color: var(--blue);
}

.nav-list .nav-link:hover {
color: var(--blue);
}

.nav-link:visited{
color: var(--Black21);
}

.contact-link{
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;   
color: var(--grey75);
}

.contact-link:hover{ 
color: var(--blue);
}

.contact-link:focus{ 
color: var(--blue);
}
    
a.nav-link.current{
color: var(--blue);
}

.banner{ 
background: #2F303A;
}

.banner-text{
font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white);
}

.banner-button{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
color: var(--white);
background: var(--blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}

.banner-button :focus{
visibility: hidden;
}
.banner-button :hover{
visibility: hidden;
}
.banner-button :active{
visibility: hidden;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.about-title{
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
}
.about-descr{ 
line-height: calc(24/14);  
letter-spacing: 0.03em;
color: var(--grey75);
}

.work-title{ 
font-size: 36px;
line-height: calc(42/36);
letter-spacing: 0.03em;
}

.team{
background: #F5F4FA;
}

.team-title{ 
font-size: 36px;
line-height: calc(42/36);
letter-spacing: 0.03em;
}

.employee-card{
background-color: var(--white);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee-title{ 
font-size: 36px;
line-height: calc(42/36);
letter-spacing: 0.03em;
}
.employee-name{
font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
}
.employee-position{ 
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--grey75);
}

.Map{
font-style: normal;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--white);
}

.color-studio-footer{ 
color: var(--white);
}

.footer{
background: #2F303A;
}

.footer-contact-link{
font-style: normal;
line-height: calc(16/14);
letter-spacing: 0.02em;   
color:rgba(255, 255, 255, 0.6);
}

.footer-contact-link:hover{ 
color: var(--blue);
}
    
.footer-contact-link:focus{ 
color: var(--blue);
}

.portfolio-button-style {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: calc(26/16);
text-align: center;
letter-spacing: 0.03em;
background: #F5F4FA;
border-radius: 4px;
cursor: pointer;
}

.button-list .portfolio-button :focus {
color: var(--white);
background: var(--blue);
}
.button-list .portfolio-button :hover {
color: var(--white);
background: var(--blue);
}
.button-list .portfolio-button :active{
color: var(--white);
background: var(--blue);
}

.portfolio-list .portfolio-img{
border: 1px solid #EEEEEE;
}

.portfolio-title{
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;
}
.portfolio-text{
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em; 
color: var(--grey75);
}

a.header-current.current{
color: var(--blue)}